.header {
  padding: 24px 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  border-bottom: 1px solid #dadde1;
  height: 72px;
  position: relative;
}

.nav {
  display: flex;
  gap: 32px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
  text-decoration: none;
  transition: color 0.3s ease;
}

.activeLink {
  color: #e44848;
}

.link:hover {
  color: #d84343;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  color: #101828;
  text-decoration: none;
}
