.card {
  display: flex;
  gap: 24px;
  padding: 24px;
  border: 1px solid #dadde1;
  border-radius: 20px;
  background-color: #fff;
  width: 888px;
  /* Фиксируем высоту по макету */
  height: 368px;
  box-sizing: border-box; /* Чтобы padding не раздувал эти 368px */
  overflow: hidden; /* Чтобы ничего не вылазило за пределы */
}

.imageWrapper {
  position: relative;
  /* Размер фото тоже подгоняем под высоту карточки с учетом padding */
  width: 290px;
  height: 320px;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Это важно, чтобы фото не растягивалось уродливо */
}

.info {
  flex-grow: 1;
}

.header {
  display: flex;

  justify-content: space-バランス;

  justify-content: space-between;

  align-items: flex-start;

  margin-bottom: 8px;
}

.name {
  font-size: 24px;

  font-weight: 600;

  color: #101828;

  white-space: nowrap;

  overflow: hidden;

  text-overflow: ellipsis;

  max-width: 300px;
}

.priceWrapper {
  display: flex;

  align-items: center;

  gap: 12px;
}

.price {
  font-size: 24px;

  font-weight: 600;

  color: #101828;
}

.favoriteBtn {
  background: none;

  border: none;

  cursor: pointer; /* По ТЗ */

  font-size: 24px;

  padding: 0;
}

.meta {
  display: flex;

  gap: 16px;

  margin-bottom: 24px;

  font-size: 16px;
}
.metaItem {
  display: flex;
  align-items: center;
  gap: 6px;
}
.description {
  color: #475467;

  font-size: 16px;

  line-height: 1.5;

  margin-bottom: 24px;

  /* Ограничение текста в 1 строку, как на макете */

  display: -webkit-box;

  -webkit-line-clamp: 1;

  -webkit-box-orient: vertical;

  overflow: hidden;
}

.categories {
  display: flex;

  flex-wrap: wrap;

  gap: 8px;

  margin-bottom: 24px;
}
.featureIcon {
  width: 20px;
  object-fit: contain;
  height: 20px;
}
.favoriteIcon {
  width: 26px;
  height: 24px;
}
.categoryTag {
  display: flex;
  padding: 12px 18px;
  gap: 8px;
  background-color: #f2f4f7;
  line-height: 150%;
  border-radius: 100px;
  text-align: center;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
}
.ratingText {
  text-decoration: underline;
}
@media (max-width: 1024px) {
  .card {
    flex-direction: column; /* Картинка и инфо друг под другом */
    max-width: 100%;
  }

  .imageWrapper {
    width: 100%;
    height: 300px; /* Увеличиваем высоту картинки на планшете */
  }
}

/* Мобильный (Mobile) */
@media (max-width: 480px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .priceWrapper {
    width: 100%;
    justify-content: space-between;
  }

  .name {
    font-size: 20px;
  }
}
